
.icon-messages:before { content: '\e800'; } /* '' */
.icon-profile:before { content: '\e801'; } /* '' */
.icon-dashboard:before { content: '\e802'; } /* '' */
.icon-logo:before { content: '\e803'; } /* '' */
.icon-feed:before { content: '\e804'; } /* '' */
.icon-accounts:before { content: '\e805'; } /* '' */
.icon-marketing:before { content: '\e806'; } /* '' */
.icon-administration:before { content: '\e807'; } /* '' */
.icon-notifications:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-deployments:before { content: '\e80a'; } /* '' */
.icon-production:before { content: '\e80b'; } /* '' */
.icon-human:before { content: '\e80c'; } /* '' */
.icon-send:before { content: '\e80d'; } /* '' */
.icon-add:before { content: '\e80e'; } /* '' */
.icon-remove:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-spin:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-glass:before { content: '\e813'; } /* '' */
.icon-music:before { content: '\e814'; } /* '' */
.icon-gamepad:before { content: '\e815'; } /* '' */
.icon-flight:before { content: '\e816'; } /* '' */
.icon-award:before { content: '\e817'; } /* '' */
.icon-target:before { content: '\e818'; } /* '' */
.icon-leaf:before { content: '\e819'; } /* '' */
.icon-road:before { content: '\e81a'; } /* '' */
.icon-briefcase:before { content: '\e81b'; } /* '' */
.icon-gift:before { content: '\e81c'; } /* '' */
.icon-chart-line:before { content: '\e81d'; } /* '' */
.icon-cab:before { content: '\e81e'; } /* '' */
.icon-beaker:before { content: '\e81f'; } /* '' */
.icon-magic:before { content: '\e820'; } /* '' */
.icon-coffee:before { content: '\e821'; } /* '' */
.icon-food:before { content: '\e822'; } /* '' */
.icon-diamond:before { content: '\e823'; } /* '' */
.icon-heart:before { content: '\e824'; } /* '' */
.icon-group:before { content: '\e825'; } /* '' */
.icon-group-circled:before { content: '\e826'; } /* '' */